<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/">Interni Telefonski Imenik</a>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/sjediste">Sjediste</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/lokali">DKP</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/organizacije">Organizacija</a>
                </li>
            </ul>
        </div>
    </nav>
</header>

